<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proxibase.aircandi"
    android:versionCode="1"
    android:versionName="0.01.0100" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="9" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:debuggable="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:name="com.proxibase.aircandi.Aircandi"
        android:theme="@style/aircandi_theme.midnight" >
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:name="CandiSearchActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".SignInForm"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".SignUpForm"
            android:windowSoftInputMode="stateHidden" >
        </activity>
            <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".ProfileForm"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".ForumForm"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".PostForm"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".AlbumForm"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".PhotoForm"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".PhotoBrowse"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".CommentForm"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".WebForm"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name=".WebBrowse" >
        </activity>
        <activity
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:name="com.proxibase.aircandi.Preferences"
            android:theme="@android:style/Theme" >
            <intent-filter >
                <action android:name="com.proxibase.aircandi.Preferences" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:name="org.acra.CrashReportDialog"
            android:theme="@android:style/Theme.Dialog" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />

</manifest>