<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proxibase.aircandi"
    android:versionCode="1"
    android:versionName="0.02.0100" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".Aircandi"
        android:icon="@drawable/icon_app"
        android:label="@string/name_app"
        android:theme="@style/aircandi_theme_midnight" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".CandiRadar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/name_app" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ScanService"
            android:enabled="true"
            android:label="@string/name_app" >
        </service>

        <activity
            android:name=".SignInForm"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_signin"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CandiForm"
            android:label="@string/name_app"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CandiList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/name_app"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".UserCandiForm"
            android:label="@string/name_app"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".UserCandiList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/name_app"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CandiMap"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/name_app"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".MapBrowse"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_map_browse"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CommentForm"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_comment"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".CommentList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_picture_browse"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PictureSearch"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_picture_search"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".BookmarkPicker"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_bookmarks"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".TemplatePicker"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/ic_collection_250"
            android:label="@string/form_title_templates"
            android:theme="@style/Theme.Sherlock.Dialog"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".HelpForm"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_help"
            android:theme="@style/Theme.Sherlock.Dialog"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".CandiPicker"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_candi_picker"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SignUpForm"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_signup"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".ProfileForm"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_profile"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PasswordForm"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_password"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".EntityForm"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/name_app"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PictureBrowse"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/form_title_picture_browse"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Preferences"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/form_title_preferences" >
            <intent-filter>
                <action android:name="com.proxibase.aircandi.Preferences" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
    </application>

    <!--
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    -->

</manifest>